h1 {
    color: yellow;
 
    font-family: courier
;
    font-size: 300%;
     
}

body {
    color: yellow;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

p {
    color: yellow;
}
