h1 {
    color: yellow;
 
    font-family: courier
;
    font-size: 300%;
}
     
h3 {
     font-family: courier;
font-size: 120%;
    
}


body {
    color: yellow;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

